// Don't leave this class out or hilarity ensues
.wrap-header-local img.img-logo {
  height: 4rem;
  margin-left: -15px;
  max-width: inherit;
  margin-right: -5px;
  margin-top: -5px;
}

.alert .wrap-content {
  padding-top: 0;
  padding-bottom: 0;
}

// jQuery modal
@media (min-width: $bp-screen-md) {
  .modal {
      max-width: none !important;
      width: 50% !important;
  }
}

@media (max-width: $bp-screen-md - 1) {
  .modal {
      max-width: none !important;
      width: 100% !important;
      overflow: scroll;
  }

  .jquery-modal.blocker.current {
    padding: 0 !important;
  }
}

.modal {
  .wrap-outer-header,
  .wrap-header-local,
  .wrap-outer-breadcrumb,
  .wrap-outer-footer,
  .wrap-footer-institute {
    display: none;
  }
}

.modal  {
  display: none;
}

// Other solenoid overrides
h2, h3, h4 {
  color: $black;
}

p.warning {
  font-style: italic;
  color: $warning;
  font-size: $fs-xxlarge;
}

.tile {
  @extend .bit;
  @include clearfix;
  margin-bottom: 2rem;
}

#breadcrumbs {
  margin-bottom: 1.5rem;
}

input[type="file"], input[type="submit"], button {
  cursor: pointer;
}

input:disabled {
  cursor: not-allowed;
  background-color: $gray-l2;
  border-color: $gray-l2;

  &:hover {
    background-color: $gray-l2;
    border-color: $gray-l2;
  }
}

form .checkbox {
  padding: 2rem 0.5rem;
  border-bottom: 2px solid $gray-l1;

  &.checked {
    background-color: white;
  }

  &:last-of-type {
    margin-bottom: 2rem;
  }
}

.field-email {
  @extend .field-text;
}

#author-toggle, #dlc-toggle {
  height: 20rem;
}

.table-solenoid {
  border-collapse: collapse;

  th {
    text-transform: uppercase;
    color: $gray;
    text-align: left;
    padding: 0.5rem 2rem 0.5rem 0px;
  }

  tr {
    border-bottom: 2px solid $gray-l2;
  }

  td {
    padding: 1rem 2rem 1rem 0px;
  }
}

.button-circle {
  border-radius: $lh-base * $fs-base;
}

.button-danger {
  @extend .button-secondary;

  &:hover,
  &:focus {
    background-color: $warning;
    border-color: $warning;
    color: $white;
    text-decoration: none;
  }
}

.button-secondary.active {
  @extend .button-secondary:focus;
  outline: none;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

select, option {
  // Prevent overflow (e.g. caused by really long DLC names).
  max-width: 100%;
}

@media (min-width: $bp-screen-md) {
  .sticky {
    position: fixed;
    top: 30px;
  }
}

.alert-banner {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 2rem;
  }
}

// Useful bootstrap-esque utilities
.clearfix {
  @include clearfix;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

// Override background-image rules because the $image-path variable is wrong
// for Django but we don't have a theme-friendly hook for overriding it.
.wrap-footer {
  background: $black url('/static/i/vi-shape7-tp.svg') no-repeat 10% center;
}

.wrap-header {
  background: $black url('/static/i/vi-shape7-tp.svg') no-repeat 0 65%;
}

// Make the header even prettier
/* csslint ignore:start */
.wrap-outer-header.reasons {
  background: #f23074; /* Old browsers */
  background: -moz-linear-gradient(45deg, #f23074 0%, #d6d628 36%, #207cca 66%, #544b8c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f23074 0%,#d6d628 36%,#207cca 66%,#544b8c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f23074 0%,#d6d628 36%,#207cca 66%,#544b8c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f23074', endColorstr='#544b8c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/* csslint ignore:end */
