[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

"beautifulsoup4" = "==4.6.0"
"bs4" = "==0.0.1"
certifi = "*"
chardet = "==3.0.2"
cookies = "==2.2.1"
coverage = "==4.4.1"
defusedxml = "==0.5.0"
django = "==1.11.11"
django-appconf = "*"
django-ckeditor = "*"
django-compressor = "*"
django-compressor-autoprefixer = "==0.1.0"
django-crispy-forms = "*"
django-debug-toolbar = "==1.8"
django-libsass = "*"
libsass = "*"
oauthlib = "*"
"psycopg2" = "*"
pyjwt = "*"
"python3-openid" = "==3.1.0"
pytz = "*"
pyyaml = "==3.12"
rcssmin = "*"
requests = "*"
requests-oauthlib = "*"
responses = "==0.5.1"
rjsmin = "*"
social-auth-app-django = "*"
social-auth-core = "*"
sqlparse = "==0.2.3"
dj-database-url = "==0.4.1"
gunicorn = "==19.6.0"
newrelic = "*"
whitenoise = "==3.3.1"


[pipenv]

keep_outdated = true
