[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[dev-packages]
black = "*"
celery-types = "*"
coveralls = "*"
django-stubs = "*"
freezegun = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-django = "*"
ruff = "*"
#pytest-cov = "*"
requests-mock = "*"
types-beautifulsoup4 = "*"

[packages]
# Only needed for Heroku
backoff = "*"
beautifulsoup4 = "*"
celery = "*"
celery-progress = "*"
certifi = "*"
chardet = "*"
dj-database-url = "*"
django = "*"
django-ckeditor = "*"
django-compressor = "*"
django-crispy-forms = "*"
django-debug-toolbar = "*"
django-environ = "*"
django-libsass = "*"
gunicorn = "*"
newrelic = "*"
Pillow = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pyyaml = "*"
redis = "*"
requests = "*"
requests-oauthlib = "*"
sentry-sdk = "*"
social-auth-app-django = "*"
whitenoise = "*"
