[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[dev-packages]
coveralls = "*"
freezegun = "*"
pytest-cov = "*"
pytest-django = "*"
requests-mock = "*"

[packages]
# Only needed for Heroku
backoff = "*"
beautifulsoup4 = "*"
celery = "*"
celery-progress = "*"
certifi = "*"
chardet = "*"
dj-database-url = "*"
django = "*"
django-ckeditor = "*"
django-compressor = "*"
django-crispy-forms = "*"
django-debug-toolbar = "*"
django-libsass = "*"
gunicorn = "*"
newrelic = "*"
Pillow = "*"
psycopg2 = "*"
python-dotenv = "*"
pyyaml = "*"
redis = "*"
requests = "*"
requests-oauthlib = "*"
sentry-sdk = "*"
social-auth-app-django = "*"
whitenoise = "*"
