{% extends "base.html" %}

{% block content %}
  <h1>Instructions for generating CSV files</h1>

  <h2>Windows</h2>

  <p>
    These instructions have been tested on Office 2016. If you have a different version, your actual workflow may vary.
  </p>

  <ul>
    <li>
      Open your file in Excel
    </li>
    <li>
      Click the <code>File</code> menu
    </li>
    <li>
      Choose <code>Save As</code>
    </li>
    <li>
      Browse to the folder you want to save in and double click to select it
    </li>
    <li>
      You get a standard Windows pop up that gives options for file name, file type, and even navigation to choose a different folder.
    </li>
    <li>
      Type in the file name (it can be anything that works for you; the app does not care)
    </li>
    <li>
      In the <code>Save as type:</code> dropdown list, select CSV (Comma delimited) (*.csv)
    </li>
    <li>
      Click <code>Save</code>
    </li>
    <li>
      Excel hates text files, so you get a warning: <code>Some features in your workbook might be lost if you save it as CSV; do you want to keep using that format?</code>
    </li>
    <li>
      Click <code>Yes</code>
    </li>
    <li>
      When you try to close or save the file, even if you haven’t made any edits, you’ll get this warning again.  Click <code>Yes</code> to proceed.
    </li>
  </ul>

  <h2>Mac</h2>

  <ul>
    <li>
      Open your file <i>in Numbers</i>. <b>Excel will not work</b> if your file
      has any sort of special characters (math symbols, diacritics, etc.)
    </li>
    <li>
      Click the <code>File</code> menu
    </li>
    <li>
      Choose <code>Export to...</code> and then <code>CSV...</code>
    </li>
    <li>
      Save with whatever file name you want.
    </li>
    <li>
      You don't need to use the advanced options; the defaults work fine.
    </li>
  </ul>
{% endblock %}
