To: {{ author.email }}<br>
Subject: Paper Request for MIT Open Access Policy<br>

<p>
    Dear Prof. {{ author.last_name }},
</p>

<p>
  I'm writing to ask for your final submitted manuscripts (post peer-review &mdash; not the published PDFs, which we're normally not allowed to post) for the papers listed below. These will be deposited into DSpace@MIT to comply with the <a href="https://libraries.mit.edu/oapolicy">MIT Faculty Open Access Policy</a>. We're only requesting papers from authors when we cannot obtain them any other way, so you will not necessarily see all of your publications in this list.
</p>

<div class="control-citations">
  {{ citations|safe }}
</div>

<p>
  You may submit your papers by email reply, or <a href="https://libraries.mit.edu/oasubmit">use this web form</a>. We will place them in the <a href="https://dspace.mit.edu/handle/1721.1/49433">Open Access Articles collection</a> and link to the final published version.
</p>

<p class="dspace-handle">
  See papers that you have contributed under the OA policy: <a href="https://dspace.mit.edu/handle/1721.1/49433/browse?authority={{ author.dspace_id }}&type=author">https://dspace.mit.edu/handle/1721.1/49433/browse?authority={{ author.dspace_id }}&amp;type=author</a>
</p>

<p>
  View download statistics for your articles and others in this collection: <a href="https://dspace.mit.edu/oastats">https://dspace.mit.edu/oastats</a>
</p>

<p>
  If you have any questions please don't hesitate to contact me.
</p>

<p>
  Best,<br/>
  {% if liaison %}
    {{ liaison.first_name }}
  {% else %}
    <b>[[ Liaison: Sign your name here.]]</b>
  {% endif %}
</p>
