{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  {% if progress %}<h3>{{ progress }}</h3>{% endif %}
  <form method="post" action="">
    {% csrf_token %}
      <h3 class="panel-title">{{ email }}</h3>
      <b>To:</b> {{ form.instance.liaison.first_name }} {{ form.instance.liaison.last_name }} ({{ form.instance.liaison.email_address }}) <br/>
      <b>In re:</b> {{ form.instance.record_set.first.author }}
      {{ form | crispy }}
      <input type="submit" name="submit_cancel" value="cancel &amp; next" class="button-secondary" />
      <input type="submit" name="submit_save" value="save &amp; next" class="button-secondary" />
      <input type="submit" name="submit_send" value="send &amp; next" class="button-primary" />
  </form>
{% endblock %}
