{% extends "base.html" %}

{% block title %}Pending emails{% endblock %}
{% block page_title %}Pending emails{% endblock %}

{% block content %}
  <form method="post" action="">
    {% csrf_token %}
    {{ formset.management_form }}
    <input type="submit" value="Save all changes" class="btn btn-default "/>

    {% for form in formset %}
      <div class="panel panel-default">
        <div class="panel-heading">
          {% comment %}
            <div class="pull-right">
              This discard-changes system doesn't work with the formset;
              reconsider it.
              <form method="post" action="{% url 'emails:revert' email.pk %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-default" value="Discard changes"/>
              </form>
            </div>
          {% endcomment %}
          <h3 class="panel-title">{{ email }}</h3>
          <b>To:</b> {{ form.instance.liaison.first_name }} {{ form.instance.liaison.last_name }} ({{ form.instance.liaison.email_address }})
        </div>
        <div class="panel-body">
          {{ form.media }}
          {{ form.as_p }}
        </div>
      </div>
    {% empty %}
      <p>
        No emails ready to send.
      </p>
    {% endfor %}
  </form>
{% endblock %}
