{% extends "base.html" %}

{% block content %}
  <div class="clearfix">
    {% comment %}
      If this page has been opened via the email editing page - which
      includes the javascript for the modals - the `rel="modal:open"`
      will make this link open in the modal. If we've gone directly to
      the liaison list page, which does not include the modal js, it
      will have no effect. This is exactly the desired behavior.
    {% endcomment %}
    <a href="{% url 'people:liaison_create' %}"
       class="button-secondary pull-right"
       rel="modal:open">Add new</a>
  </div>
  <table class="table-solenoid">
    <tr>
      <th>name</th>
      <th>email</th>
      <th>DLCs</th>
      <th></th>
    </tr>
    {% for liaison in object_list %}
      <tr>
        <td>
          {{ liaison.first_name }} {{ liaison.last_name }}
        </td>
        <td>
          {{ liaison.email_address }}
        </td>
        <td>
          {% for dlc in liaison.dlc_set.all %}
            {{ dlc }}<br>
          {% endfor %}
        </td>
        <td>
          <a class="button-secondary button-circle"
             href="{% url 'people:liaison_update' liaison.pk %}"
             aria-label="edit liaison"
             rel="modal:open">
             <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
          <a class="button-danger button-circle"
             href="{% url 'people:liaison_delete' liaison.pk %}"
             aria-label="delete liaison"
             rel="modal:open">
             <i class="fa fa-times" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="4">
          No liaisons yet.
        </td>
      </tr>
    {% endfor %}
    {% if unassigned_dlcs %}
      <td colspan="2"></td>
      <td>
        {% for dlc in unassigned_dlcs %}
          {{ dlc }}<br>
        {% endfor %}
      </td>
      <td></td> <!-- for spacing/styling purposes -->
    {% endif %}
  </table>
{% endblock %}
