{% extends "base.html" %}

{% block content %}
  <div class="gridband layout-2c">
    <div class="grid-item">
      <div class="tile">
        <h2>Import CSV</h2>
        <a href="{% url 'records:import' %}" class="button-secondary pull-right">import</a>
      </div>
    </div>
    <div class="grid-item">
      <div class="tile">
        <h2>Manage liaisons</h2>
        <a href="{% url 'people:liaison_create' %}" class="button-secondary pull-right">create</a>
      </div>
    </div>
    <div class="grid-item">
      <div class="tile">
        <h2>View unsent citations</h2>
        <a href="{% url 'records:unsent_list' %}" class="button-secondary pull-right">view</a>
      </div>
    </div>
    <div class="grid-item">
      <div class="tile">
        <h2>View pending emails</h2>
        <a href="{% url 'emails:evaluate' %}" class="button-secondary pull-right">view</a>
      </div>
    </div>
  </div>
{% endblock %}
